<header class="border-bottom border-primary border-3 py-2 py-md-5">
    <div class="container d-flex align-items-center justify-content-md-start justify-content-between">
        <h1 class="logo me-md-lg">
            <a href="#" class="d-flex align-items-center">
                <img src="/assets/images/trademark.png" alt="商標" class="me-md-3">
                <p class="fw-bold fs-2 d-md-flex d-none">7TAO<span
                        class="noto-serif fw-bold fs-6 align-self-center ms-md-xs d-lg-block d-none">活動訂票網</span>
                </p>
            </a>
        </h1>
        <form role="search" class="d-flex">
            <input type="search" class="form-control border border-primary border-2 noto-sans px-md-5 py-md-3 px-1 py-2 fs-6" name="search"
                id="search" placeholder="探索活動">
            <button type="submit" class="btn btn-primary px-4">
                <i class="icofont-search-1 fs-6"></i>
            </button>
        </form>
        <ul class="list-unstyled nav-btn d-flex ms-md-auto">
            <li class="me-md-5 d-md-block d-none">
                <a href="#" class="text-primary link-light"><i class="icofont-ui-file me-md-xs"></i>REGISTER</a>
            </li>
            <li class="d-md-block d-none">
                <a href="#" class="text-primary link-light"><i class="icofont-ui-user me-md-xs"></i>LOGIN</a>
            </li>
            <li class="border border-1 border-black rounded d-md-none px-2 py-1">
                <span class="material-symbols-outlined align-middle fs-2">
                    menu
                </span>
            </li>
        </ul>
    </div>
</header>