<header>
    <div class="container d-flex justify-content-between">
        <div class="left-section d-flex">
            <h1 class="logo me-6"><a href="#"><img src="/assets/images/logo.png" alt="logo"></a></h1>
            <form class="d-flex" role="search">
                <input type="search" class="form-control" name="search" id="search" placeholder="探索活動">
                <button type="submit" class="btn btn-danger p-md-2 search-btn">
                    <i class="icofont-search-1 fs-7 text-primary"></i>
                </button>
            </form>
        </div>

        <ul class="list-unstyled d-flex mb-0 align-items-center">
            <li><a href="#" class="text-primary link-dark fs-7 me-3"><i class="icofont-ui-file text-primary fs-7"></i>REGISTER</a></li>
            <li><a href="#" class="text-primary link-dark fs-7"><i class="icofont-ui-user text-primary fs-7 "></i>LOGIN</a></li>
        </ul>

    </div>
</header>