<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/assets/images/icofont/icofont.min.css">
</head>

<body class="d-flex flex-column vh-100">
    <%- include('./layout/header'); -%>

        <main class="border-bottom border-primary border-3 pt-3 pt-md-6">
            <div class="container">
                <div class="banner d-flex flex-column justify-content-between">
                    <p class="text-white fs-2 fs-md-xl">19 MAY <span class="d-md-inline d-block">2023</span></p>
                    <div class="row">
                        <div class="col-8 mx-auto">
                            <h3 class="text-white noto-serif text-center mb-3 fw-bold fs-md-60">隔牆有耳-沒有草東的派對</h3>
                            <p class="text-white noto-sans text-center d-none d-md-block mb-md-5">
                                你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                                帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>